@font-face {
    font-family: 'Lab Grotesque';
    src: url('../../assets/Fonts/font/LabGrotesque-Regular.ttf');
}

@font-face {
    font-family: 'Lab Grotesque Bold';
    src: url('../../assets/Fonts/font/LabGrotesque-Bold.ttf');
    font-weight: 600;
}