.footer {
    margin-top: 2%;
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    &__box {
        width: 12%;
        display: flex;
        flex-direction: column;
        margin-top: 4%;
        justify-content: flex-start;
        margin-left: 10%;

        &:last-child {
            width: 10%;
            height: 50%;
            margin-left: 0;
        }

        &:nth-child(2) {
            @include breakpoint(md) {
                width: 15%;
                height: 50%;
                margin-left: 15%;
            }
        }

        &:nth-child(4) {
        }

        &:first-child {
            & .box__text {
                width: 15%;
                margin-left: 5%;
            }
        }

        & .box__title {
            font-family: 'Lab Grotesque';
            font-weight: 600;
            font-size: 1.1rem;
        }

        & .box__text {
            font-family: 'Lab Grotesque';
            font-weight: 400;
            font-size: 1rem;
            margin-top: 15%;
            white-space: nowrap;
        }

        & .box__social-logo {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 1em;
            @include breakpoint(md) {
                flex-direction: column;
                align-items: center;
                justify-content: initial;
                gap: 10%;
            }

            & span {
                display: inline-block;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #04ddb2;
                border-radius: 30px;
                color: white;
                @include breakpoint(md) {
                    
                }
            }
        }
    }
}