.header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.63);
    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        backdrop-filter: blur(10px);
    }

    &__logo {
        width: 80px;
        margin-left: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: inherit;

    }

    &__hamburger {

        @include breakpoint(sm) {
            visibility: visible;
            opacity: 1;
        }

        @include breakpoint(xs) {
            visibility: visible;
            opacity: 1;
        }

        @include breakpoint(xxs) {
            visibility: visible;
            opacity: 1;
        }
        position: absolute;
        right: 5%;
        font-size: 1.5rem;
        visibility: hidden;
        opacity: 0;
        z-index: inherit;
        cursor: pointer;
        padding: 7px 10px 7px 10px;
        background-color: rgb(240, 240, 240);
        border-radius: 50px;

        & .header__cross{
            display: none;
        }
    }

    &__button--download {
        @include breakpoint(lg) {
            width: 12%;
        }

        @include breakpoint(md) {
            width: 12%;
            font-size: 0.9rem;
        }

        @include breakpoint(sm) {
            display: none;
        }

        @include breakpoint(xs) {
            display: none;
        }

        @include breakpoint(xxs) {
            display: none;
        }

        width: 8%;
        height: 50%;
        margin-right: 5%;
        border: 0;
        outline: 0;
        border-radius: 25px;
        font-family: 'Lab Grotesque';
        font-weight: 600;
        font-size: 1.1rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        background-color: #04ddb2;
        color: white;
        z-index: inherit;

        &:hover {
            transform: scale(1.03);
        }
    }

}