$breakpoints: (
    "xxs": "max-width: 400.98px",
    "xs": "(min-width: 401px) and (max-width: 575.98px)",
    "sm": "(min-width: 576px) and (max-width: 767.98px)",
    "md": "(min-width: 768px) and (max-width: 991.98px)",
    "lg": "(min-width: 992px) and (max-width: 1199.98px)",
    "xl": "(min-width: 1200px) and (max-width: 1399.98px)",
    "xxl": "min-width: 1400px",
);

@mixin breakpoint($size) {
    $my-map: map-get($breakpoints, $size);

    @if $my-map {
        @media (#{$my-map}) {
            @content;
        }
    }

    @else {
        @error "Oops, seems like the breakpoint #{$size} isn't defined yet";
    }
}


@mixin dropdown {
    visibility: hidden;
    opacity: 0;
    border-top: 1px solid rgb(219, 219, 219);
    background-color: rgba(255, 255, 255, 0.63);
    width: 50%;
    padding-bottom: 10px;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    box-shadow: 11px 24px 59px -14px rgba(161,161,161,0.74);
    @content;
}


@mixin dropdown-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 5%;
    @content;
}

@mixin dropdown-listElement{
    width: 100%;
    height: 20%;
    margin-left: 10%;
    font-size: 1.3rem;
    @content;
}
