* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}
.header__logo {
  width: 10%;
  margin-left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__hamburger {
  display: none;
}
.header__hamburger--visible {
  display: block;
}
.header__button--download {
  width: 8%;
  height: 50%;
  margin-right: 5%;
  border: 0;
  outline: 0;
  border-radius: 25px;
  font-family: "Lab Grotesque";
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: #04ddb2;
  color: white;
}
.header__button--download:hover {
  transform: scale(1.03);
}

.header__nav {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15%;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 100%;
  font-size: 1.1rem;
  font-family: "Lab Grotesque";
  font-weight: 600;
}
.nav__list li a {
  display: inline-block;
  text-decoration: none;
  color: rgb(127, 127, 127);
  transition: 0.3s ease-in-out;
}
.nav__list li a:hover {
  transform: scale(1.03);
  color: black;
}
.nav__list li.list__item--selected a {
  color: black;
}

body {
  overflow-x: hidden;
  font-family: "Lab Grotesque";
}

.main {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.main__title {
  font-family: "Lab Grotesque Bold";
  font-weight: bolder;
  font-size: 5.5rem;
  color: rgb(63, 63, 63);
}
.main__title span {
  color: #04ddb2;
}
.main__subtitle {
  width: 40%;
  font-size: 2rem;
  margin-top: 1%;
  text-align: center;
  line-height: 45px;
}
.main__container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}
.main__container img {
  display: inline-block;
  width: 70%;
  border-radius: 10px;
  transition: 0.3s ease;
}
.main__container img:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.2);
}
.main__container iframe {
  display: none;
}

@font-face {
  font-family: "Lab Grotesque";
  src: url("../../assets/Fonts/font/LabGrotesque-Regular.ttf");
}
@font-face {
  font-family: "Lab Grotesque Bold";
  src: url("../../assets/Fonts/font/LabGrotesque-Bold.ttf");
  font-weight: 600;
}/*# sourceMappingURL=main.css.map */